@model IEnumerable<GroceryList.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Product</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>

<form asp-controller="Products" asp-action="Index" method="get" class="form-inline">
    <div class="form-group mr-2">
        <label for="SearchString" class="sr-only"><strong>Name:</strong></label>
        <input type="text" name="SearchString" id="SearchString" class="form-control form-control-sm" placeholder="Name" style="width: 300px" />
    </div>
    <button type="submit" class="btn btn-success btn-sm">Search</button>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success">Edit</a> 
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success">Details</a> 
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-success">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
